services:
  rango:
    build: rango
    volumes:
      - assets:/rango/assets
      - media:/rango/media

  nginx:
    image: nginx:1.23.3-alpine
    ports:
      - "80:80"
    volumes:
      - assets:/rango/assets
      - media:/rango/media
      - ./nginx/templates:/etc/nginx/templates
    links:
      - rango
    depends_on:
      - rango
    env_file:
      - .env

volumes:
  assets:
    name: rango_assets
  media:
    name: rango_media
